doctype html
html
	head
		title zmgr
		link(rel="stylesheet" type="text/css" href="/zmgr/assets/css/bootstrap.min.css")
		link(rel="stylesheet" type="text/css" href="/zmgr/assets/css/default.css")
		link(rel="stylesheet" type="text/css" href="https://noki.zorque.xyz/css/font-awesome.min.css")
		link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto")
	body
		div(class="container")
			div(class="header text-center")
				h1 zmgr
				p Manage #[a(target="_blank" href="https://noki.zorque.xyz") #[u noki.zorque.xyz]] web services
			hr
			div(class="row")
				div(class="col-lg-6")
					h4 #[strong Images] (#{totalImg})
					ul(class="noki-list")
						for dat, ind in images
							- let timeSince = moment(dat.uploaded).fromNow();
							- let fullTime = moment(dat.uploaded).format("dddd, MMMM Do YYYY, h:mm:ss a");
							li #[span(title=fullTime class="pull-right since-label") #{timeSince}] #[span #[a(target="_blank" href=dat.url) #{dat.url}]] #[img(src=dat.url style="max-width: 50%")]
			div(class="row")
				div(class="col-lg-6")
					- let next = ((numPage + 1) <= totalPages ? true : false);
					- if (next) {
						span(title="Next" class="pull-right") #[a(href="?page=" + (numPage + 1)) >>]
					- }
					
					- let prev = ((numPage - 1) > 0 ? true : false);
					- if (prev) {
						span(title="Previous" class="pull-left") #[a(href="?page=" + (numPage - 1)) <<]
					- }
			hr
			div(class="footer text-center")
				p © nokizorque 2018